################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tasmiya2321.github.io/FileContentIndex/4ac505d4-0e90-4f17-ba4c-9d627dd341c8.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/tasmiya2321.github.io
/_site/
