*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(247 ,241,233)
}
input,type[text]{
    height: 25px;
    margin-top: 20px;
}

.CenterType{
    height: 25px;
    
    padding-right:  55px;
    margin-top: 47px;
    margin-left: 530px;
}
h1{
    margin-top: 10px;
}
 
button{
    margin-left: 1000px;
    margin-bottom: 18px;
}


.table {
        margin: 20px; /* Adjust this value to add more or less space around the table */
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        text-align: center;
        border: 1px solid black;
    }
